html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    overflow-x: hidden;
    /* padding-bottom: 1000px; */
    /* background-image: url("../asset/img2.jpg"); */
}

header {
    max-width: 1200px;
    z-index: 3;
    /* display: flex; */
    margin: auto;
    /* justify-content: center; */
    /* text-align: center; */
}

footer {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.container {
    max-width: 1200px;
    margin: 5px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    /* border: solid 1px; */
    flex: 3;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    /* color: #eee; */
}

.aside {
    /* border: solid 1px; */
    display: flex;
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 5px;
    flex-wrap: wrap;
    justify-content: center;
    /* color: #eee; */
}

.article {
    /* border: 1px solid; */
    margin: 5px;
    padding: 5px;
    text-align: justify;
}

.thumbnail {
    width: 100%;
}

.thumbnail img {
    width: 100%;
}

.layanan {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.layanan.satu {
    background-color: rgb(226, 198, 43);
}
.layanan.dua {
    background-color: rgb(43, 137, 226);
}
.layanan.tiga {
    background-color: rgb(49, 226, 43);
}

.thumbnail-gallery {
    width: 100%;
}

.thumbnail-gallery img {
    width: 100%;
    height: 100%;
}
.card {
    border: 1px solid #aaa;
    border-radius: 20px;
    background-color: blueviolet;
    overflow: hidden;
    flex: 1;
    margin: 20px;
}

.card .header {
    height: 100px;
    background-color: #666;
}

.card .content {
    text-align: center;
    padding: 20px;
}
.card .header img {
    width: 100%;
}

@media (min-width: 600px) {
    .container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* background-image: url("../asset/img11.jpg"); */
    }

    .layanan {
        width: 30%;
    }

    .thumbnail-gallery {
        width: 30%;
    }

    .card.besar {
        transform: scale(1.11);
    }
}

@media (min-width: 800px) {
    .thumbnail-gallery {
        width: 25%;
    }
    /* .container {
        background-color: #6a097d;
    } */
}
